/* navbar design */
nav {
  display: flex;
  background: #fff;
  height: 72px;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  justify-content: flex-end;
  text-align: center;
}

nav li {
  list-style: none;
  display: inline-block;
  padding: 0 30px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

#logo {
  width: 76px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  margin-right: auto;
}

ul li a {
  text-decoration: none;
  color: #344563;
}

/* self introduction */

.container {
  position: absolute;
  height: 521.46px;
  background-color: #ebebff;
  background-image: url(images/Header\ bg.png);
  width: 100%;
  top: 70px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  position: absolute;
  width: 920px;
  height: 268px;
  left: 260px;
  top: calc(50% - 268px / 2);
}

.primary-text {
  width: 920px;
  height: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  display: flex;
  align-items: center;
  letter-spacing: 0.37px;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.primary-text-details {
  width: 920px;
  height: 68px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.lets-connect {
  width: 117px;
  height: 14px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* social media links  */
.social-media {
  order: 1;
}

a.social-media {
  letter-spacing: 0.37px;
  text-decoration: none;
  padding: 5px;
  padding-left: 0;
}

/* responsive media queries */
@media only screen and (max-width: 375px) {
  .container {
    background: url(images/Header\ bg.png);
  }
}

@media only screen and (max-width: 768px) {
  .container {
    background: url(images/Header\ bg.png);
  }
}
